<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game of Life: Ruby</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <article>
      <h2>Game of Life</h2>
    </article>
    <form method="POST" action="/">
      <div class="board">
        <% game.current_round.each_with_index do |row, i| %>
        <div class="row">
          <% row.each_with_index do |cell, j| %>
            <input type="checkbox" id='index_<%= "i#{i}_j#{j}" %>' name="index[]" value=<%= i + j * game.size %> >
          <%end%>
        </div>
        <% end %>
      </div>
      <input type="submit" value="Next Round">
    </form>
    <p>index: <%= @index %></p>
  </body>
</html>
