<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game of Life: Ruby</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <article>
      <h2>Game of Life</h2>
      <form method="POST" action="/">
        <div class="board">
          <% game.current_board.each_with_index do |row, row_index| %>
          <div class="row">
            <% row.each_with_index do |col, col_index| %>
              <% if col != 0 %>
                <input type="checkbox" name="index[]" value=<%= col_index + row_index * game.size %> checked>
              <% else %>
                <input type="checkbox" name="index[]" value=<%= col_index + row_index * game.size %>>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
        <input type="submit" value="Next Round">
      </form>
      <p>index: <%= @index_array %></p>
    </article>
  </body>
</html>
